__pycache__/
build/
dist/
examples/data/
sweeps/outputs/*
*.egg-info/
*.egg/
*.whl
.DS_Store
venv/
.venv/
*.ipynb_checkpoints/
.ruff_cache/
.pytest_cache/
.coverage
.vscode
uv.lock
site/
_version.py
*.npz
*.mov
*.mp4
*.gif
!simpl.gif